{% extends 'base.html.twig' %}

{% block title %}Disponibilités{% endblock %}

{% block body %}
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <div class="card-header">Ecran de contrôle de vos Disponibilités</div>
            {% if app.user != null %}
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date Début</th>
                        <th>Date Fin</th>
                        <th>Métier</th>
                        <th>Reserver</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                   {% for disponibilite in disponibilites %}
                        <tr>
                            <td>{{ disponibilite.DateDebut|date('d/m/Y') }}</td>
                            <td>{{ disponibilite.DateFin|date('d/m/Y') }}</td>
                            <td>{{ disponibilite.Metier }}</td>
                            <td>{{ disponibilite.reserve }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>                      
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


      
     